# OSX / OS
# ========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db


# Node and related ecosystem
# ==========================
.nodemonignore
node_modules/
app/tests/coverage/
coverage/
package-lock.json


# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/


# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace


# Eclipse project files / Webstorm
# ================================
.project
.settings/
.*.md.html
.metadata
*~.nib
local.properties
.idea/
.idea*/
.idea*


# Cloud9 IDE
# ==========
.c9/
data/
mongod


# Visual Studio
# =============
*.suo
*.ntvs*
*.njsproj
*.sln
